.main-page-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 120px 0px 0px 0px;
}
.google-logo-style-main {
  width: 250px;
}
.google-search-box-with-suggestion {
  width: 85%;
  box-shadow: 1px 1px 25px #bfbfbf;
  padding: 5px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 15px;
}
.search-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -25px;
}
.search-icon-style {
  position: relative;
  left: 35px;
  width: 25px;
}
.search-box-styling {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 10px 10px 10px 50px;
}
.search-box-styling:focus {
  outline: none;
}

.unorder-list-container {
  list-style: none;
  padding: 0px 15px 0px 15px;
  width: 100%;
}
@media all and (min-width: 786px) {
  .google-search-box-with-suggestion {
    width: 500px;
  }
}
